In [50]:
import numpy as np
import pandas as pd

WORKING_DIRECTORY = '/mnt/c/git/masters-thesis-code/jupyter/code/'

COMPANIES_DF = pd \
        .read_csv(WORKING_DIRECTORY + 'data/prod_data_companies_more_data_2021_09_16.csv',
                  delimiter='\t',
                  na_values='(null)',
                  dtype={
                      'business_id': str,
                      'business_id_start_date': str,
                      'company_name': str,
                      'email_address': str,
                      'industry_code': str,
                      'language': str,
                      'company_form': str,
                      'company_form_code': str,
                      'domicile_code': str,
                      'region_code': str,
                      'location_municipality_code': str,
                      'location_region_code': str,
                      'company_status_code': str,
                      'balance_industry_code': str,
                      'personnel_class': str,
                      'turnover_class': str,
                      'statement_date': str,
                      'statement_length': float,
                      'target_year': str,
                      'turnover': float,
                      'raw_materials_use': float,
                      'current_ratio': float,
                      'personnel_expenses': float,
                      'investment_expenses_cash_flow': float,
                      'ebitda': float,
                      'operating_profit_per_turnover': float,
                      'ebit': float,
                      'turnover_growth_percent': float,
                      'ebit_per_turnover': float,
                      'short_term_sales_receivable': float,
                      'net_profit': float,
                      'net_profit_per_turnover': float,
                      'aggregate_equity': float,
                      'return_on_equity_percent': float,
                      'equity_ratio': float,
                      'long_term_sales_receivable': float,
                      'quick_ratio': float,
                      'buildings': float,
                      'return_on_investment_percent': float,
                      'total_assets': float,
                      'external_services': float,
                      'aggregate_current_assets': float,
                      'personnel_average': float,
                      'concern': str,
                      'bulk': str,
                      'performer_ranking_points': float,
                      'risk_rating_class': str,
                      'latest': str
                  }
                  )

COMPANIES_DF.head()

,business_id,business_id_start_date,company_name,email_address,industry_code,language,company_form,company_form_code,domicile_code,region_code,...,return_on_investment_percent,total_assets,external_services,aggregate_current_assets,personnel_average,concern,bulk,performer_ranking_points,risk_rating_class,latest
0,31431209,2020-06-22,Tmi Onerva Miettunen,onerva.adalmiina@gmail.com,43341,CL_1,Yksityinen elinkeinonharjoittaja,CO_26,091,RE_01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32087307,2021-05-04,Koti Vaihtoon LKV Oy,matti.leskinen@kotivaihtoon.com,68310,CL_1,Osakeyhtiö,CO_16,743,RE_14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18601103,2003-10-24,Teollisuuden Monialapalvelu T:mi Oksanen,NaN,68209,CL_1,Yksityinen elinkeinonharjoittaja,CO_26,179,RE_13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20469041,2006-07-04,POLYBEAT,NaN,74909,CL_2,Kuolinpesä,CO_53,091,RE_01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24844507,2012-06-18,SAHOJEN PUU,kalle.kantola@hasa.fi,NaN,CL_1,Yksityinen elinkeinonharjoittaja,CO_26,069,RE_17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
def find_rows_with_word(word):
    col_name, actual_word = word.split('+')
    print(col_name)
    print(actual_word)
    return COMPANIES_DF[COMPANIES_DF[col_name] == actual_word]

In [52]:
find_rows_with_word('company_form_code+CO_16')

company_form_code
CO_16

,business_id,business_id_start_date,company_name,email_address,industry_code,language,company_form,company_form_code,domicile_code,region_code,...,return_on_investment_percent,total_assets,external_services,aggregate_current_assets,personnel_average,concern,bulk,performer_ranking_points,risk_rating_class,latest
1,32087307,2021-05-04,Koti Vaihtoon LKV Oy,matti.leskinen@kotivaihtoon.com,68310,CL_1,Osakeyhtiö,CO_16,743,RE_14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,01119927,1978-03-15,Nickberg Oy,nick.berg@nickberg.fi,49410,CL_1,Osakeyhtiö,CO_16,091,RE_01,...,6.40,388000.0,NaN,NaN,NaN,false,true,NaN,NaN,true
12,08764347,1992-02-21,Turkis Oy Kimmo Ojala,NaN,01491,CL_1,Osakeyhtiö,CO_16,272,RE_16,...,NaN,113000.0,11000.0,66000.0,1.0,false,false,70.0,GREEN_AAA,true
13,09708355,1994-07-01,Kyröntarhat Oy,NaN,01132,CL_1,Osakeyhtiö,CO_16,636,RE_02,...,-28.22,4050000.0,513000.0,525000.0,18.0,false,false,40.0,GREEN_AA,true
16,10415357,1996-03-19,Bits Oy,NaN,46692,CL_1,Osakeyhtiö,CO_16,091,RE_01,...,-110.80,1000.0,NaN,NaN,NaN,false,true,NaN,NaN,true
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337861,26538773,2014-11-10,Etelä-Savon Työterveys Oy,NaN,86220,CL_1,Osakeyhtiö,CO_16,491,RE_10,...,17.50,5680000.0,991000.0,141000.0,82.0,true,false,46.0,GREEN_A_PLUS,true
1337862,26538773,2014-11-10,Etelä-Savon Työterveys Oy,NaN,86220,CL_1,Osakeyhtiö,CO_16,491,RE_10,...,19.40,5284000.0,904000.0,29000.0,65.0,false,false,43.0,GREEN_AA,true
1337863,27527742,2016-03-16,Ingenium Partners Oy,NaN,70220,CL_1,Osakeyhtiö,CO_16,049,RE_01,...,2.22,11000.0,1000.0,NaN,NaN,false,false,26.0,GREEN_A,true
1337864,31204145,2020-02-19,Rainmaker Voima Oy,NaN,78300,CL_1,Osakeyhtiö,CO_16,091,RE_01,...,NaN,670000.0,1130000.0,NaN,60.0,false,false,62.0,GREEN_AA,true
1337865,30137091,2019-07-19,We Build Parks Finland Oy,NaN,42999,CL_1,Osakeyhtiö,CO_16,261,RE_19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN