In [2]:
import numpy as np
import pandas as pd

WORKING_DIRECTORY = '/mnt/c/git/masters-thesis-code/jupyter/code/'

COMPANIES_DF = pd \
        .read_csv(WORKING_DIRECTORY + 'data/prod_data_companies_more_data_2021_09_16.csv',
                  delimiter='\t',
                  na_values='(null)',
                  dtype={
                      'business_id': str,
                      'business_id_start_date': str,
                      'company_name': str,
                      'email_address': str,
                      'industry_code': str,
                      'language': str,
                      'company_form': str,
                      'company_form_code': str,
                      'domicile_code': str,
                      'region_code': str,
                      'location_municipality_code': str,
                      'location_region_code': str,
                      'company_status_code': str,
                      'balance_industry_code': str,
                      'personnel_class': str,
                      'turnover_class': str,
                      'statement_date': str,
                      'statement_length': float,
                      'target_year': str,
                      'turnover': float,
                      'raw_materials_use': float,
                      'current_ratio': float,
                      'personnel_expenses': float,
                      'investment_expenses_cash_flow': float,
                      'ebitda': float,
                      'operating_profit_per_turnover': float,
                      'ebit': float,
                      'turnover_growth_percent': float,
                      'ebit_per_turnover': float,
                      'short_term_sales_receivable': float,
                      'net_profit': float,
                      'net_profit_per_turnover': float,
                      'aggregate_equity': float,
                      'return_on_equity_percent': float,
                      'equity_ratio': float,
                      'long_term_sales_receivable': float,
                      'quick_ratio': float,
                      'buildings': float,
                      'return_on_investment_percent': float,
                      'total_assets': float,
                      'external_services': float,
                      'aggregate_current_assets': float,
                      'personnel_average': float,
                      'concern': str,
                      'bulk': str,
                      'performer_ranking_points': float,
                      'risk_rating_class': str,
                      'latest': str
                  }
                  )

COMPANIES_DF.head()

,business_id,business_id_start_date,company_name,email_address,industry_code,language,company_form,company_form_code,domicile_code,region_code,...,return_on_investment_percent,total_assets,external_services,aggregate_current_assets,personnel_average,concern,bulk,performer_ranking_points,risk_rating_class,latest
0,31431209,2020-06-22,Tmi Onerva Miettunen,onerva.adalmiina@gmail.com,43341,CL_1,Yksityinen elinkeinonharjoittaja,CO_26,091,RE_01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32087307,2021-05-04,Koti Vaihtoon LKV Oy,matti.leskinen@kotivaihtoon.com,68310,CL_1,Osakeyhtiö,CO_16,743,RE_14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18601103,2003-10-24,Teollisuuden Monialapalvelu T:mi Oksanen,NaN,68209,CL_1,Yksityinen elinkeinonharjoittaja,CO_26,179,RE_13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20469041,2006-07-04,POLYBEAT,NaN,74909,CL_2,Kuolinpesä,CO_53,091,RE_01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24844507,2012-06-18,SAHOJEN PUU,kalle.kantola@hasa.fi,NaN,CL_1,Yksityinen elinkeinonharjoittaja,CO_26,069,RE_17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
def find_rows_with_word(word):
    col_name, actual_word = word.split('+')
    print(col_name)
    print(actual_word)
    return COMPANIES_DF[COMPANIES_DF[col_name] == actual_word]

In [21]:
find_rows_with_word('company_form_code+CO_20')

company_form_code
CO_20

,business_id,business_id_start_date,company_name,email_address,industry_code,language,company_form,company_form_code,domicile_code,region_code,...,return_on_investment_percent,total_assets,external_services,aggregate_current_assets,personnel_average,concern,bulk,performer_ranking_points,risk_rating_class,latest
293353,01844678,1978-03-15,Ylihärmän Säästöpankki,yliharmansp.taloushallinto@saastopankki.fi,64190,CL_1,Säästöpankki,CO_20,233,RE_14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318646,01291831,1978-03-15,Myrskylän Säästöpankki,NaN,64190,CL_1,Säästöpankki,CO_20,504,RE_01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471870,01323266,1978-03-15,Eurajoen Säästöpankki,NaN,64190,CL_1,Säästöpankki,CO_20,051,RE_04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692699,01797322,1978-03-15,Avain Säästöpankki,NaN,64190,CL_1,Säästöpankki,CO_20,233,RE_14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
859397,01352403,1978-03-15,Mietoisten Säästöpankki,NaN,64190,CL_1,Säästöpankki,CO_20,503,RE_02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919850,01334096,1978-03-15,Säästöpankki Kalanti-Pyhäranta,NaN,64190,CL_1,Säästöpankki,CO_20,895,RE_02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
924953,01983686,1978-06-16,Kvevlax Sparbank,kvevlaxsb@sparbanken.fi,64190,CL_2,Säästöpankki,CO_20,499,RE_15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1016383,01978481,1978-06-16,Säästöpankki Sinetti,etunimi.sukunimi@saastopankki.fi,64190,CL_1,Säästöpankki,CO_20,562,RE_06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1147024,01283719,1978-03-15,Länsi-Uudenmaan Säästöpankki,NaN,64190,CL_1,Säästöpankki,CO_20,444,RE_01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1189518,01977948,1978-06-16,Lammin Säästöpankki,NaN,64190,CL_1,Säästöpankki,CO_20,109,RE_05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1234381,01347030,1978-03-15,Liedon Säästöpankki,NaN,64190,CL_1,Säästöpankki,CO_20,423,RE_02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1235584,01530919,1978-03-15,Someron Säästöpankki,NaN,64190,CL_1,Säästöpankki,CO_20,761,RE_02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279161,01705598,1978-03-15,Säästöpankki Optia,NaN,64190,CL_1,Säästöpankki,CO_20,140,RE_11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN