# Iteraatio 3 - kohteiden ominaisuuksien valintaa gini-indeksillä

In [1]:
import numpy as np
import pandas as pd

WORKING_DIRECTORY = '/mnt/c/git/masters-thesis-code/jupyter/code/'

## Ladataan yritysdata

In [2]:
SELECTED_COMPANY_FEATURES = ['company_form_code', 
                             'location_region_code', 'company_status_code', 'industry_code', 'turnover', 
                             'net_profit', 'personnel_average', 'performer_ranking_points', 'risk_rating_class']

In [3]:
COMPANIES_DF = pd.read_pickle(WORKING_DIRECTORY + "data/pandas_pickles/company_data_iteration3.pkl")

In [4]:
ITEM_IDS = list(COMPANIES_DF['business_id'].unique())

## Ladataa vuorovaikutusdata

In [5]:
interactions_tmp = pd \
    .read_csv(WORKING_DIRECTORY + 'data/interactions_2021_08_19.csv',
             delimiter='\t',
             dtype={
                 'group_id': 'string',
                 'business_id': 'string',
                 'owner': 'string'
             })

# otetaan pois 1 kokoiset ryhmät
group_sizes = interactions_tmp['group_id'].value_counts()
group_sizes_df = pd.DataFrame({'group_id': group_sizes.index, 'group_size': group_sizes.values})

INTERACTIONS_WITH_GROUP_SIZES_DF = interactions_tmp.merge(group_sizes_df, on='group_id')             
interactions_tmp = INTERACTIONS_WITH_GROUP_SIZES_DF[INTERACTIONS_WITH_GROUP_SIZES_DF.group_size >= 2]
#interactions_tmp = INTERACTIONS_WITH_GROUP_SIZES_DF[INTERACTIONS_WITH_GROUP_SIZES_DF.group_size <= 3000]
interactions_tmp.sort_values('group_size')

,group_id,business_id,owner,group_size
155696,3e9dd356-2b21-45ae-9ee4-7cd6cc122fe1,07577937,5e87095492119e00066e7158,2
106198,31503959-943a-4081-abcc-dc80e5cb0402,15093748,5db034c64320cd0006d2b788,2
313746,cab22fae-db47-46b6-b902-3d9a1b1051f6,01163004,5e4534bc7bf061000697e940,2
313747,cab22fae-db47-46b6-b902-3d9a1b1051f6,10410900,5e4534bc7bf061000697e940,2
545392,0967d6ed-88b7-4023-a720-f09f7051f24d,17944788,5efdbc656488210007bc27f6,2
...,...,...,...,...
8042,a5c6ce2e-22ab-4871-bd72-e5da294b33cc,16029641,5e1489f3c2f568000654ecbb,3999
8043,a5c6ce2e-22ab-4871-bd72-e5da294b33cc,16030167,5e1489f3c2f568000654ecbb,3999
8044,a5c6ce2e-22ab-4871-bd72-e5da294b33cc,16030415,5e1489f3c2f568000654ecbb,3999
8031,a5c6ce2e-22ab-4871-bd72-e5da294b33cc,16001948,5e1489f3c2f568000654ecbb,3999
7025,a5c6ce2e-22ab-4871-bd72-e5da294b33cc,09710930,5e1489f3c2f568000654ecbb,3999

In [6]:
# lisätään konserniyrityksille interaktiot
concern_interactions = interactions_tmp.copy()
concern_interactions['business_id'] = 'K-' + concern_interactions['business_id'].astype(str)
concern_interactions = concern_interactions[concern_interactions.business_id.isin(ITEM_IDS)]
concern_interactions

,group_id,business_id,owner,group_size
5,c2626398-faac-4ff3-b02d-cdc64b50cdaa,K-01681709,60646431ae18cb00063ed63f,1862
6,c2626398-faac-4ff3-b02d-cdc64b50cdaa,K-15055514,60646431ae18cb00063ed63f,1862
7,c2626398-faac-4ff3-b02d-cdc64b50cdaa,K-01876143,60646431ae18cb00063ed63f,1862
9,c2626398-faac-4ff3-b02d-cdc64b50cdaa,K-05363070,60646431ae18cb00063ed63f,1862
10,c2626398-faac-4ff3-b02d-cdc64b50cdaa,K-01387534,60646431ae18cb00063ed63f,1862
...,...,...,...,...
548074,8b0915ff-a0cb-4520-9160-8d783a6bf308,K-02106319,6110c56241e21e000857ca77,131
548110,8b0915ff-a0cb-4520-9160-8d783a6bf308,K-20333371,6110c56241e21e000857ca77,131
548137,8b0915ff-a0cb-4520-9160-8d783a6bf308,K-07027249,6110c56241e21e000857ca77,131
548162,8b0915ff-a0cb-4520-9160-8d783a6bf308,K-02011774,6110c56241e21e000857ca77,131
548171,8b0915ff-a0cb-4520-9160-8d783a6bf308,K-10459325,6110c56241e21e000857ca77,131

In [7]:
# yhdistetään konserni-interaktiot tavallisiin ja poistetaan sellaiset interaktiot, joille ei löydy y-tunnusta
INTERACTIONS_DF = pd.concat([interactions_tmp, concern_interactions])
INTERACTIONS_DF = INTERACTIONS_DF[INTERACTIONS_DF.business_id.isin(ITEM_IDS)]
INTERACTIONS_DF[INTERACTIONS_DF['business_id'] == 'K-02011774']

,group_id,business_id,owner,group_size
18663,6c894b42-cbc6-4d18-8cf1-39ee91d2bf53,K-02011774,6058a712ae18cb00063ed639,2175
49204,66aea578-682d-45de-a200-77fa79a8c5e7,K-02011774,5db92c0ebc3e9100062ac0b0,3692
217786,608ac4ff-ab75-425b-a4f1-74d5defd43a3,K-02011774,5fbe6408f464de0006491d9e,1541
231830,4d2c2290-72be-40fe-8506-42718d2aac25,K-02011774,5f5613da9769490006b0ebb3,3685
254761,58f4cb31-0d40-42b2-9268-10d6dc64f1a0,K-02011774,5f5613da9769490006b0ebb3,2595
298418,2177a613-3b16-483e-9c9b-dc20bd4225f6,K-02011774,608863795602580007e70ddf,3925
354226,62c0017d-ff32-4584-8c85-562e9a1e8329,K-02011774,5fab9e2dc07a1900066bab26,3949
412123,3a44f374-56ee-4500-8829-c4b942b7afec,K-02011774,6033ae80484e8a0006fe437a,3966
439385,725e7cd0-7031-4988-b4cb-69672c611514,K-02011774,5db83a1cbc3e9100062ac0ab,1846
451491,acfdacd6-0de0-4568-a819-c3c2e15ef221,K-02011774,6033ae80484e8a0006fe437a,3809
459932,a18a99fb-bfb4-4c46-ad6d-89e7b74ff2c4,K-02011774,60646431ae18cb00063ed63f,3143
464050,51b071a7-bfc6-4add-93d2-11eea5346dc4,K-02011774,60646431ae18cb00063ed63f,2749
493257,ddaef9fe-0f14-45f9-b55f-8ad1532a8680,K-02011774,60b5f4565735df0009ec7ea2,2235
548162,8b0915ff-a0cb-4520-9160-8d783a6bf308,K-02011774,6110c56241e21e000857ca77,131

## Poimitaan käytössä olevat ominaisuudet

In [8]:
features_tmp = [COMPANIES_DF[feature].unique() for feature in SELECTED_COMPANY_FEATURES]
FEATURES = [item for sublist in features_tmp for item in sublist]
len(FEATURES)
FEATURES

['company_form_code+CO_26',
 'company_form_code+CO_16',
 'company_form_code+CO_53',
 'company_form_code+CO_2',
 'company_form_code+CO_10',
 'company_form_code+CO_13',
 'company_form_code+CO_19',
 'company_form_code+CO_5',
 'company_form_code+CO_14',
 'company_form_code+CO_6',
 'company_form_code+CO_63',
 'company_form_code+CO_51',
 'company_form_code+CO_56',
 'company_form_code+CO_18',
 'company_form_code+CO_60',
 'company_form_code+CO_17',
 'company_form_code+CO_0',
 'company_form_code+CO_54',
 'company_form_code+CO_52',
 'company_form_code+CO_50',
 'company_form_code+CO_57',
 'company_form_code+CO_31',
 'company_form_code+CO_29',
 'company_form_code+CO_41',
 'company_form_code+CO_71',
 'company_form_code+CO_39',
 'company_form_code+CO_36',
 'company_form_code+CO_90',
 'company_form_code+CO_48',
 'company_form_code+CO_44',
 'company_form_code+CO_59',
 'company_form_code+CO_55',
 'company_form_code+CO_42',
 'company_form_code+CO_40',
 'company_form_code+CO_15',
 'company_form_code+CO_70',
 'company_form_code+CO_58',
 'company_form_code+CO_32',
 'company_form_code+CO_46',
 'company_form_code+CO_43',
 'company_form_code+CO_47',
 'company_form_code+CO_12',
 'company_form_code+CO_24',
 'company_form_code+CO_38',
 'company_form_code+CO_49',
 'company_form_code+CO_37',
 'company_form_code+CO_4',
 'company_form_code+CO_30',
 'company_form_code+CO_21',
 'company_form_code+CO_45',
 'company_form_code+CO_22',
 'company_form_code+CO_28',
 'company_form_code+CO_9',
 'company_form_code+CO_1',
 'company_form_code+CO_35',
 'company_form_code+CO_25',
 'company_form_code+CO_3',
 'company_form_code+CO_33',
 'company_form_code+CO_20',
 'company_form_code+CO_8',
 'company_form_code+CO_7',
 'company_form_code+NaN',
 'company_form_code+CO_80',
 'company_form_code+CO_61',
 'company_form_code+CO_23',
 'location_region_code+01',
 'location_region_code+NaN',
 'location_region_code+16',
 'location_region_code+02',
 'location_region_code+17',
 'location_region_code+11',
 'location_region_code+06',
 'location_region_code+07',
 'location_region_code+09',
 'location_region_code+12',
 'location_region_code+15',
 'location_region_code+14',
 'location_region_code+19',
 'location_region_code+13',
 'location_region_code+08',
 'location_region_code+05',
 'location_region_code+10',
 'location_region_code+18',
 'location_region_code+21',
 'location_region_code+04',
 'company_status_code+AKT',
 'company_status_code+SELTILA',
 'company_status_code+KESK',
 'company_status_code+KONK',
 'company_status_code+SANE',
 'industry_code+43',
 'industry_code+68',
 'industry_code+74',
 'industry_code+NaN',
 'industry_code+49',
 'industry_code+01',
 'industry_code+46',
 'industry_code+90',
 'industry_code+86',
 'industry_code+56',
 'industry_code+79',
 'industry_code+41',
 'industry_code+62',
 'industry_code+87',
 'industry_code+93',
 'industry_code+81',
 'industry_code+47',
 'industry_code+22',
 'industry_code+33',
 'industry_code+71',
 'industry_code+85',
 'industry_code+45',
 'industry_code+69',
 'industry_code+18',
 'industry_code+31',
 'industry_code+25',
 'industry_code+02',
 'industry_code+59',
 'industry_code+66',
 'industry_code+70',
 'industry_code+64',
 'industry_code+10',
 'industry_code+88',
 'industry_code+14',
 'industry_code+82',
 'industry_code+55',
 'industry_code+52',
 'industry_code+96',
 'industry_code+73',
 'industry_code+77',
 'industry_code+28',
 'industry_code+61',
 'industry_code+95',
 'industry_code+80',
 'industry_code+13',
 'industry_code+63',
 'industry_code+16',
 'industry_code+03',
 'industry_code+42',
 'industry_code+17',
 'industry_code+32',
 'industry_code+26',
 'industry_code+35',
 'industry_code+08',
 'industry_code+75',
 'industry_code+36',
 'industry_code+78',
 'industry_code+53',
 'industry_code+00',
 'industry_code+94',
 'industry_code+23',
 'industry_code+27',
 'industry_code+72',
 'industry_code+38',
 'industry_code+58',
 'industry_code+20',
 'industry_code+29',
 'industry_code+37',
 'industry_code+65',
 'industry_code+30',
 'industry_code+50',
 'industry_code+84',
 'industry_code+91',
 'industry_code+99',
 'industry_code+11',
 'industry_code+21',
 'industry_code+15',
 'industry_code+60',
 'industry_code+24',
 'industry_code+09',
 'industry_code+51',
 'industry_code+39',
 'industry_code+07',
 'industry_code+97',
 'industry_code+92',
 'industry_code+19',
 'industry_code+98',
 'industry_code+06',
 'industry_code+12',
 'industry_code+05',
 'turnover+NaN',
 'turnover+1',
 'turnover+4',
 'turnover+0',
 'turnover+3',
 'turnover+2',
 'turnover+top',
 'net_profit+NaN',
 'net_profit+2',
 'net_profit+0',
 'net_profit+1',
 'net_profit+3',
 'net_profit+5',
 'net_profit+4',
 'net_profit+top',
 'personnel_average+NaN',
 'personnel_average+0',
 'personnel_average+1',
 'personnel_average+2',
 'personnel_average+3',
 'personnel_average+top',
 'performer_ranking_points+NaN',
 'performer_ranking_points+3',
 'performer_ranking_points+1',
 'performer_ranking_points+2',
 'performer_ranking_points+0',
 'performer_ranking_points+top',
 'risk_rating_class+NaN',
 'risk_rating_class+GREEN',
 'risk_rating_class+YELLOW',
 'risk_rating_class+RED']

## Lasketaan gini-indeksit

In [9]:
def calculate_gini_for_word(word):
    col_name = word.split('+')[0]
    matches_df = COMPANIES_DF[COMPANIES_DF[col_name] == word]
    
    matched_docs_total = matches_df.shape[0]
    
    match_bids = list(matches_df['business_id'].unique())
    
    matching_interactions_df = INTERACTIONS_DF[INTERACTIONS_DF['business_id'].isin(match_bids)]
    
    interacted_docs_count = matching_interactions_df['business_id'].unique().shape[0]
    non_interacted_docs_count = matched_docs_total - interacted_docs_count
    
    gini_index = 1 - ((interacted_docs_count / matched_docs_total) ** 2 + \
                    (non_interacted_docs_count / matched_docs_total) ** 2)
    
        
    return (word, gini_index, interacted_docs_count, matched_docs_total)

In [13]:
print(calculate_gini_for_word('performer_ranking_points+top'))

('performer_ranking_points+top', 0.4152249134948096, 2712, 3842)

In [14]:
GINI_SCORES = []

for word in FEATURES:
    gini = calculate_gini_for_word(word)
    GINI_SCORES.append(gini)

In [15]:
GINI_DF = pd.DataFrame(GINI_SCORES, columns=['feature', 'gini_score', 'interacted_count', 'total_count'])
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(GINI_DF.sort_values('gini_score'))

                          feature  gini_score  interacted_count  total_count
36        company_form_code+CO_58    0.000000                 0           24
43        company_form_code+CO_38    0.000000                 0           63
178              industry_code+12    0.000000                 0            3
179              industry_code+05    0.000000                 0            1
48        company_form_code+CO_21    0.000000                 0            3
51        company_form_code+CO_28    0.000000                 0            5
52         company_form_code+CO_9    0.000000                 1            1
53         company_form_code+CO_1    0.000000                 0            5
54        company_form_code+CO_35    0.000000                 0            9
27        company_form_code+CO_90    0.000000                 0           54
56         company_form_code+CO_3    0.000000                 0            2
58        company_form_code+CO_20    0.000000                13           13
177              industry_code+06    0.000000                 0            2
16         company_form_code+CO_0    0.000000                 0         2915
59         company_form_code+CO_8    0.000000                 0            2
63        company_form_code+CO_61    0.000000                 0            2
64        company_form_code+CO_23    0.000000                 1            1
60         company_form_code+CO_7    0.000000                 0            2
173              industry_code+97    0.000000                 0           58
61          company_form_code+NaN    0.000000                 0            2
2         company_form_code+CO_53    0.002522               116        91879
93              industry_code+NaN    0.002790               352       251987
200         personnel_average+top    0.004934              1210         1213
3          company_form_code+CO_2    0.005857               267        90904
31        company_form_code+CO_55    0.009740                 3          613
11        company_form_code+CO_51    0.010182               394        76992
17        company_form_code+CO_54    0.011027                11         1984
24        company_form_code+CO_71    0.011560                 2          344
199           personnel_average+3    0.012256              1773         1784
19        company_form_code+CO_50    0.012650                59         9269
10        company_form_code+CO_63    0.014579                34         4630
18        company_form_code+CO_52    0.014759                 4          538
186                  turnover+top    0.017067              6565         6622
12        company_form_code+CO_56    0.017803                 3          334
15        company_form_code+CO_17    0.021365               458          463
116              industry_code+02    0.021509              2714       249619
148              industry_code+00    0.023198               113         9628
23        company_form_code+CO_41    0.025153               310          314
22        company_form_code+CO_29    0.030347                 9          584
95               industry_code+01    0.035676              1524        83884
137              industry_code+03    0.039033                78         3917
0         company_form_code+CO_26    0.040645             12440       599419
38        company_form_code+CO_46    0.043457                 4          180
198           personnel_average+2    0.044372              7663         7841
20        company_form_code+CO_57    0.046796                28         1168
187                net_profit+NaN    0.051237             29446      1119156
14        company_form_code+CO_60    0.054727               401        14242
176              industry_code+98    0.060547                 1           32
30        company_form_code+CO_59    0.061288                 5          158
4         company_form_code+CO_10    0.062953               322         9897
180                  turnover+NaN    0.070865             42840      1164583
97               industry_code+90    0.074726               605        15563
21        company_form_code+CO_31    0.079861                38          912
9          company_form_code+CO_6    0.083383              4756       109103
201  performer_ranking_points+NaN    0.084567             53126      1200846
66       location_region_code+NaN    0.085022             39583       889703
194                net_profit+top    0.088526              4006         4201
207         risk_rating_class+NaN    0.092403             58768      1210224
91               industry_code+68    0.093098              7145       145982
164              industry_code+11    0.100837               320          338
147              industry_code+53    0.105469               104         1862
41        company_form_code+CO_12    0.117188                30           32
127              industry_code+96    0.119132              2333        36675
121              industry_code+10    0.127762              2784         2989
87       company_status_code+KESK    0.134257               138         1907
182                    turnover+4    0.136526             22286        24059
163              industry_code+99    0.139551                 8          106
195         personnel_average+NaN    0.139930             96593      1276086
34        company_form_code+CO_15    0.145429               140          152
144              industry_code+75    0.147415               175         2184
104              industry_code+93    0.157280              1807        21001
149              industry_code+94    0.166254              4018        43913
26        company_form_code+CO_36    0.168740                12          129
105              industry_code+81    0.170131              1618        17235
197           personnel_average+1    0.172306             14177        15669
7          company_form_code+CO_5    0.188716               975         9243
85        company_status_code+AKT    0.190700            141760      1328032
123              industry_code+14    0.196429               312         2826
5         company_form_code+CO_13    0.198205              2858        25622
47        company_form_code+CO_30    0.218750                 2           16
49        company_form_code+CO_45    0.226843                 3           23
192                  net_profit+5    0.228595              7475         8608
128              industry_code+73    0.229685              1018         7691
122              industry_code+88    0.231810               936         6995
174              industry_code+92    0.233747                10           74
118              industry_code+66    0.234728              1222         8998
100              industry_code+79    0.234986               441         3243
92               industry_code+74    0.241758              2916        20730
132              industry_code+95    0.242991               440         3109
39        company_form_code+CO_43    0.244898                 2           14
124              industry_code+82    0.246164               787         5475
83        location_region_code+21    0.247865               507         3498
98               industry_code+86    0.258762              4910        32155
55        company_form_code+CO_25    0.260355                 2           13
166              industry_code+15    0.262716                56          360
120              industry_code+64    0.267249              1713        10783
134              industry_code+13    0.276902               295         1777
50        company_form_code+CO_22    0.277778                 4           24
158              industry_code+65    0.278707                80          478
117              industry_code+59    0.279521               748         4453
75        location_region_code+15    0.282155              2593        15256
140              industry_code+32    0.284422               530         3087
162              industry_code+91    0.291830                69          389
82        location_region_code+18    0.295374               954         5296
152              industry_code+72    0.299269               375         2047
110              industry_code+85    0.304561              2552        13618
70        location_region_code+11    0.307193              3299        17408
119              industry_code+70    0.312483              5470        28225
77        location_region_code+19    0.315611              2809        14305
106              industry_code+47    0.319167              7765        38960
84        location_region_code+04    0.322971              3356        16574
79        location_region_code+08    0.323315              2294        11313
69        location_region_code+17    0.325560              5768        28182
80        location_region_code+05    0.328986              2644        12737
72        location_region_code+07    0.328988              3103        14948
67        location_region_code+16    0.329880              1068         5126
88       company_status_code+KONK    0.331437              1052         5017
193                  net_profit+4    0.334841             10246        13013
74        location_region_code+12    0.336378              2398        11207
42        company_form_code+CO_24    0.336735                11           14
94               industry_code+49    0.337608              4938        22962
78        location_region_code+13    0.339293              4508        20819
81        location_region_code+10    0.339597              2444        11273
71        location_region_code+06    0.343014              8572        38993
146              industry_code+78    0.344708               761         3438
68        location_region_code+02    0.345937              8837        39725
112              industry_code+69    0.347371              8531        10990
111              industry_code+45    0.361046              3994        16894
138              industry_code+42    0.368752               879         3605
101              industry_code+41    0.370527              8308        33832
76        location_region_code+14    0.376058              4145        16510
160              industry_code+50    0.376213               155          617
40        company_form_code+CO_47    0.383472                15           58
184                    turnover+3    0.385401             27047        36581
133              industry_code+80    0.385599               313         1200
113              industry_code+18    0.385812               425         1628
135              industry_code+63    0.387299               588         2239
170              industry_code+51    0.388750                42          159
65        location_region_code+01    0.393591             42061       156164
29        company_form_code+CO_44    0.394907                88          325
150              industry_code+23    0.395379               325         1198
167              industry_code+60    0.397915                37          135
171              industry_code+39    0.399003                49          178
86    company_status_code+SELTILA    0.402748               763         2730
142              industry_code+35    0.409735              1105         1551
206  performer_ranking_points+top    0.415225              2712         3842
191                  net_profit+3    0.417586             10256        14589
35        company_form_code+CO_70    0.420000                 6           20
125              industry_code+55    0.422029              1209         3996
90               industry_code+43    0.423077             11103        36537
129              industry_code+77    0.425795               983         3198
89       company_status_code+SANE    0.426036               126          182
108              industry_code+33    0.429427              1572         5036
183                    turnover+0    0.429963             10273        32835
159              industry_code+30    0.432634               269          850
107              industry_code+22    0.434738               552          811
32        company_form_code+CO_42    0.437190               107          158
109              industry_code+71    0.437410              5239        16215
204    performer_ranking_points+2    0.437826             26801        39628
126              industry_code+52    0.437929              1136         3508
96               industry_code+46    0.440730              7476        22803
73        location_region_code+09    0.440788              2896         8831
202    performer_ranking_points+3    0.441228             16513        24594
208       risk_rating_class+GREEN    0.442461             72573       108380
28        company_form_code+CO_48    0.444444                 2            3
115              industry_code+25    0.449232              2304         6763
209      risk_rating_class+YELLOW    0.450101              8156        12396
141              industry_code+26    0.452054               664         1014
203    performer_ranking_points+1    0.452599             28456        43514
161              industry_code+84    0.456358               533         1513
114              industry_code+31    0.458972               482         1351
102              industry_code+62    0.461378              6425        17796
205    performer_ranking_points+0    0.461961             16231        25444
196           personnel_average+0    0.463191             22423        35275
136              industry_code+16    0.463366              1133         3107
25        company_form_code+CO_39    0.463571               142          389
8         company_form_code+CO_14    0.464249              1337         3650
151              industry_code+27    0.464284               422          666
190                  net_profit+1    0.464426             25283        68960
210         risk_rating_class+RED    0.465042              4342         6868
130              industry_code+28    0.469165              1312         2102
33        company_form_code+CO_40    0.477502                80          132
169              industry_code+09    0.477839                60          152
143              industry_code+08    0.478174               496         1254
57        company_form_code+CO_33    0.480000                 6           10
44        company_form_code+CO_49    0.480000                28           70
165              industry_code+21    0.480000                48           80
181                    turnover+1    0.482267             16725        41211
46         company_form_code+CO_4    0.484429                 7           17
37        company_form_code+CO_32    0.486111                20           48
13        company_form_code+CO_18    0.487336              1482         3525
1         company_form_code+CO_16    0.487602            116100       275598
188                  net_profit+2    0.488241             24454        42405
156              industry_code+29    0.488941               166          390
99               industry_code+56    0.489081              7500        17601
185                    turnover+2    0.491255             18103        31977
157              industry_code+37    0.491618               158          363
6         company_form_code+CO_19    0.495144               686         1522
155              industry_code+20    0.495389               331          604
131              industry_code+61    0.496065               405          744
145              industry_code+36    0.497644               658         1413
154              industry_code+58    0.498117               910         1939
153              industry_code+38    0.498830               401          765
45        company_form_code+CO_37    0.499314                13           27
175              industry_code+19    0.499592                18           35
172              industry_code+07    0.499703                21           41
189                  net_profit+0    0.499718             32673        66936
139              industry_code+17    0.499805               155          304
103              industry_code+87    0.499822               806         1643
62        company_form_code+CO_80    0.500000                 2            4
168              industry_code+24    0.500000                98          196