In [ ]:
import numpy as np
import pandas as pd

WORKING_DIRECTORY = '/mnt/c/git/masters-thesis-code/jupyter/code/'

COMPANIES_DF = pd \
        .read_csv(WORKING_DIRECTORY + 'data/prod_data_companies_more_data_2021_09_16.csv',
                  delimiter='\t',
                  na_values='(null)',
                  dtype={
                      'business_id': str,
                      'business_id_start_date': str,
                      'company_name': str,
                      'email_address': str,
                      'industry_code': str,
                      'language': str,
                      'company_form': str,
                      'company_form_code': str,
                      'domicile_code': str,
                      'region_code': str,
                      'location_municipality_code': str,
                      'location_region_code': str,
                      'company_status_code': str,
                      'balance_industry_code': str,
                      'personnel_class': str,
                      'turnover_class': str,
                      'statement_date': str,
                      'statement_length': float,
                      'target_year': str,
                      'turnover': float,
                      'raw_materials_use': float,
                      'current_ratio': float,
                      'personnel_expenses': float,
                      'investment_expenses_cash_flow': float,
                      'ebitda': float,
                      'operating_profit_per_turnover': float,
                      'ebit': float,
                      'turnover_growth_percent': float,
                      'ebit_per_turnover': float,
                      'short_term_sales_receivable': float,
                      'net_profit': float,
                      'net_profit_per_turnover': float,
                      'aggregate_equity': float,
                      'return_on_equity_percent': float,
                      'equity_ratio': float,
                      'long_term_sales_receivable': float,
                      'quick_ratio': float,
                      'buildings': float,
                      'return_on_investment_percent': float,
                      'total_assets': float,
                      'external_services': float,
                      'aggregate_current_assets': float,
                      'personnel_average': float,
                      'concern': str,
                      'bulk': str,
                      'performer_ranking_points': float,
                      'risk_rating_class': str,
                      'latest': str
                  }
                  )

COMPANIES_DF.head()

In [4]:
COMPANIES_DF.sort_values('turnover', ascending=False)

,business_id,business_id_start_date,company_name,email_address,industry_code,language,company_form,company_form_code,domicile_code,region_code,...,return_on_investment_percent,total_assets,external_services,aggregate_current_assets,personnel_average,concern,bulk,performer_ranking_points,risk_rating_class,latest
1244960,14636114,1998-04-27,Fortum Oyj,NaN,70100,CL_1,Julkinen osakeyhtiö,CO_17,049,RE_01,...,9.2,5.780900e+10,389000000.0,1.395000e+09,19933.0,true,false,53.0,GREEN_AAA,true
379513,01120389,1978-03-15,Nokia Oyj,NaN,70100,CL_1,Julkinen osakeyhtiö,CO_17,091,RE_01,...,11.5,3.628500e+10,NaN,2.248000e+09,92039.0,true,false,46.0,GREEN_A,true
479236,20584306,2006-09-07,Nokia Solutions and Networks Oy,NaN,26200,CL_1,Osakeyhtiö,CO_16,091,RE_01,...,-1.1,1.894700e+10,NaN,7.135000e+08,5704.0,false,false,33.0,YELLOW_B,true
780469,18523029,2003-09-17,Neste Oyj,NaN,19200,CL_1,Julkinen osakeyhtiö,CO_17,049,RE_01,...,19.6,9.814000e+09,72000000.0,1.829000e+09,4833.0,true,false,67.0,GREEN_AA,true
487063,01098628,1978-03-15,Kesko Oyj,NaN,46901,CL_1,Julkinen osakeyhtiö,CO_17,091,RE_01,...,11.6,6.641900e+09,189200000.0,8.369000e+08,17629.0,true,false,39.0,GREEN_A,true
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337857,21145030,2007-05-07,Tmi Markku Vuorentausta,NaN,47210,CL_1,Yksityinen elinkeinonharjoittaja,CO_26,638,RE_01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337859,24318670,2011-09-23,Rabbit Hole Oy,NaN,85599,CL_1,Osakeyhtiö,CO_16,091,RE_01,...,NaN,2.000000e+03,NaN,NaN,NaN,false,true,NaN,NaN,true
1337865,30137091,2019-07-19,We Build Parks Finland Oy,NaN,42999,CL_1,Osakeyhtiö,CO_16,261,RE_19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337866,32150097,2021-05-31,Orankien Osuuskunta,NaN,62010,CL_1,Osuuskunta,CO_14,091,RE_01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337867,08445602,1991-06-05,Ykkösmestarit Ky,NaN,95230,CL_1,Kommandiittiyhtiö,CO_13,491,RE_10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
def find_rows_with_word(word):
    col_name, actual_word = word.split('+')
    print(col_name)
    print(actual_word)
    return COMPANIES_DF[COMPANIES_DF[col_name] == actual_word]

In [ ]:
find_rows_with_word('company_form_code+CO_16')